@keyframes smooth_color {
  0% {
    color: transparent;
  }

  100% {}
}

@keyframes smooth_background {
  0% {
    background-color: transparent;
  }

  100% {}
}

@keyframes smooth_border {
  0% {
    border-color: transparent;
  }

  100% {}
}

@keyframes smooth {
  0% {
    filter: opacity(0%);
  }

  100% {}
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  margin: 35px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid black;
  animation: smooth_color 2s ease;
  z-index: 5;
  font-family: monospace;
}

div.change_language {
  margin-right: 35px;
  height: 35px;
  top: 0;
  padding: 0;
  justify-content: space-between;
  position: absolute;
  right: 0;
  display: flex;
  font-weight: bold;
  z-index: 5;
  font-size: 15px;
  font-family: monospace;
}
div.change_language_index {
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  padding: 0;
  display: flex;
  font-weight: bold;
  z-index: 5;
  font-size: 30px;
  font-family: monospace;
}

.fr {
  width: 205px;
}

.en {
  width: 200px;
}

.lang {
  color: black;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  animation: smooth_color 2s ease;
}

.checkbox {
  width: 12px;
  height: 12px;
  background-color: white;
  margin-right: 5px;
  border: 1px solid black;
  align-items: center;
  display: inline-block;
  animation: smooth_border 2s ease;
}
.checkbox_index {
  width: 24px;
  height: 24px;
  background-color: white;
  margin-right: 5px;
  border: 1px solid black;
  align-items: center;
  display: inline-block;
  animation: smooth_border 2s ease;
}

.check {
  width: 10px;
  height: 10px;
  background-color: black;
  margin: 1px;
  animation: smooth 2s ease;
  animation: smooth_background 2s ease;
}

.title {
  font-family: monospace;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 50px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
}

div.title h2 {
  font-size: 17px;
  margin-top: 0px;
  margin: 0;
}

nav {
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
}

nav a {
  margin-left: 20px;
  display: list-item flow;
  text-decoration: none;
  color: black;
  transition: color 0.25s;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  animation: smooth_color 3s ease;
}

nav a:hover {
  color: gray;
}

div.textbox1 {
  position: absolute;
  width: calc(100% - 140px);
  right: 85px;
  bottom: 85px;
  font-family: monospace;
  text-align: right;
  font-size: 11px;
  display: inline;
}

div.textbox2 {
  position: absolute;
  right: 85px;
  top: 85px;
  font-family: monospace;
  text-align: right;
  font-size: 11px;
  display: inline;
}
.frame {
  border: 2px solid black;
}

.wallpaper {
  z-index: -1;
  position: absolute;
  animation: smooth 4s ease;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
